.outer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 86%;
    background-image: url(/guess.jpg);
    background-size: 105%;
}

.shape {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 200px;
    height: 200px;

}

#hexagone {
    background-color: blue;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

}

#square {
    background-color: yellow;
}

#penatgone {
    background-color: red;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

#rectangle {
    background-color: pink;
    height: 100px;
}

#circle {
    background-color: orange;
    border-radius: 50%;
}

.row_shape {
    display: flex;
    justify-content: center;
    align-items: center;
}

#triangle {

    background-color: green;

    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}

.Name {
    font-size: xx-large;
    font-family: "Kodchasan", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.shape_text {
    font-family: "Kodchasan", sans-serif;
    font-size: large;
    font-style: normal;
}

@media (max-width: 750px) {

    .outer {
        height: auto;
    }

    .Name_div {
        margin-bottom: 20px;
    }

    .row_shape {
        flex-direction: column;
    }

}