@tailwind base;
@tailwind components;
@tailwind utilities;

.LandingBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    position: relative;

}

.LandingBackground::before {
    content: '';
    background-image: url(/landing.jpg);
    background-size: 100%;
    position: absolute;
    inset: 0;
    opacity: 0.7;
}

#top_right_petel {
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 73, 16);
    border-radius: 50% 50% 50% 0% / 50% 50% 50% 50%;
    border: 5px solid red;
    background-image: url(/Guessbg.jpg);
    background-size: 160px 160px;

    animation-name: move-box;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#top_left_petel {
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
    background-color: rgb(228, 73, 16);
    border-radius: 50% 50% 0% 53% / 50% 50% 50% 50%;
    background-image: url(/drawing.jpg);
    background-size: 160px 160px;

    animation-name: move-box;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#middle_left_petel {
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 73, 16);
    border-radius: 50% 75% 75% 50% / 50% 50% 50% 50%;
    background-image: url(/numbers.jpg);
    background-size: 160px 160px;
    border: 5px solid red;

    animation-name: move-box;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#middle_middle_petel {
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 73, 16);
    border-radius: 50% 50% 50% 50%;
    background-image: url(/rectangle.jpg);
    background-size: 160px 160px;
    border: 5px solid red;

    animation-name: move-box;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

#middle_right_petel {
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 73, 16);
    border-radius: 75% 50% 50% 75% / 50% 50% 50% 50%;
    background-image: url(/Spell.jpg);
    background-size: 160px 160px;
    border: 5px solid red;

    animation-name: move-box;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#bottom_left_petel {
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 73, 16);
    border-radius: 50% 0% 50% 50% / 50% 50% 50% 50%;
    background-image: url(/vegetables.jpg);
    background-size: 160px 160px;
    border: 5px solid red;

    animation-name: move-box;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#bottom_right_petel {
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 73, 16);
    border-radius: 0% 52% 47% 53% / 50% 50% 50% 50%;
    background-image: url(/Yoga.jpg);
    background-size: 160px 160px;
    border: 5px solid red;

    animation-name: move-box;
    animation-duration: 2s;
    animation-iteration-count: 1;

}

.whitebg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: "Kodchasan", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 80px;
    height: 80px;
    background-color: rgba(240, 124, 51, 0.856);
    border-radius: 50%;
}

@media (max-width: 750px) {

    .LandingBackground {
        height: auto;

    }
    .LandingBackground::before {
        height: auto;
background: none;
        background-color: aqua;
    }

    .middle {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }

    #middle_left_petel ,#top_right_petel ,#middle_right_petel, #bottom_right_petel,#bottom_left_petel,#top_left_petel {
        border-radius: 50%;
    }

  

}


@keyframes move-box {

    /* from {transform: translateX(0px);}
    to {transform: translateX(100px);} */
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}