
@tailwind base;
@tailwind components;
@tailwind utilities;



.veg_rect {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background-color: antiquewhite;
    margin: 5px;
    width: 200px;
    height: 60px;
    border-radius: 20px;
}
.veg_rect:active{
    background-color: blueviolet;
}
.veg_rect>button {
    font-size: xx-large;
    font-family: "Kodchasan", sans-serif;
    font-weight: 600;
    font-style: normal;
    border-style: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media (max-width: 750px) {

    .veg_rect{
        margin: 3px;
        width: 100px;
        height: 70px;
    }
    .veg_rect>button{
        font-family: "Kodchasan", sans-serif;
        font-size: large;
    }
}

