.yog{
    margin: 5px;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: whitesmoke;
  
}
.yog_text{
    display: flex;
    justify-content: center;
    font-size: medium;
    font-family: "Kodchasan", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.Pose{
    width: 100%;
    height: 90%;
}
.yog_close_button{
    color: white;
    float: right;
    background-color: brown;
}

@media (max-width: 750px) {

    .row_yoga {
        flex-wrap: wrap;
    }
    .showmodel {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 350px;
        height: 450px;
        background: transparent;
        background-size: 105%;
    }
    
}
