.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border: 5px solid red;
   
}
.cardHolder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.spellbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 86%;
    background-image: url(/guess.jpg);
    background-size: 105%;

}

@media (max-width: 750px) {

    .spellbox{
        background-image: url(/mobileguess.jpg);
        background-repeat: repeat;
    }
   
   
  }
